/***** 
COLOR CHEAT SHEET 
https://coolors.co/783f8e-3fa7d6-fcfff7-000505-dfb2f4
#783f8e- Eminence
#3fa7d6- Picton
#fcfff7- Baby powder
#000505- Black
#dfb2f4- Mauve

*****/


/********************/
/******* FONTS ******/
/********************/
body, p {
    font-family: "Rubik", sans-serif;

}

h1, h2, h3, h4, h5, h6 {
    font-family: "Oswald", sans-serif;

}

/********************/
/******* FONTS ******/
/********************/
header.masthead{
    background: url(../img/Hero\ img.webp);
    width: 100%;
    padding-top: 150px; 
    height: auto;
    background-size: cover;
}
.btn-primary{
    background-color: #3fa7d6 ;
    border: 4px solid #783f8e;
}

.btn-primary:hover{
    background-color: #3fa7d6 ;
    border: 4px solid #783f8e;
}
/********************/
/******* FONTS ******/
/********************/

hr.divider{
    background-color: #dfb2f4 ;
}

a.navbar-brand{
    color: #dfb2f4 !important;
    text-shadow: 3px 3px 3px black;
    font-size: 35px;
}
header.masthead h1{
    color: pink;
}


section.bg-primary{
    background-color: #dfb2f4 !important 
}

.btn-light{
    background-color: #3fa7d6 ;
    border: 4px solid #783f8e;
}

.btn-light:hover{
    background-color: #3fa7d6 ;
    border: 4px solid #783f8e;
}
.text-primary{
    color:#dfb2f4 !important
}
#mainNav {
     background-color:#783f8e ;
}



#mainNav .navbar-nav .nav-item .nav-link.active {
    color: #dfb2f4 !important;
}

#mainNav.navbar-shrink .navbar-nav .nav-item .nav-link:hover {
    color: #dfb2f4;
}

body {
    color: #dfb2f4; 
}

header.masthead h1 {
    color: #dfb2f4;
}